body {
    background-color: #007bff !important;
    font-family: 'Nunito', sans-serif;
    font-weight: 100;
    font-size: 1em; /* 16px/16px = 1em */
    color: #585656;
}
.container{
    width: 90%;
    max-width: 450px;
    padding: 0; /* 0px/1200px = 0 */
    margin: 50px auto;
    background-color: #f5f1f1;
  }
.top {
    padding: 5%;
    text-align: center;
}
.middle {
    background-color: #ffffff !important;
    padding: 10%;
}
.bottom {
    padding: 5%;
    text-align: center;
}
.round-corners {
    border-radius: 5px;  
  }
h1 {
    color: #918d8d;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type=submit] {
    width: 100%;
    background-color: #007bff;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #0869aa;
  }